<div class="container-fluid">
  <h1>About</h1>
  <h2>Notes from 2006</h2>
  <p>
  One day shopping at a local supermarket, Daiai here in Honolulu, Hawaii, I saw
  a drink with aloe vera bits in it. I thought "What the heck, I should try that!"
  I also saw another drink I used to buy in Chinatown in Victoria, BC, an orange
  mandarin drink with lots of "juice sacks" floating in it, I bought $5 of juice
  that day.
  </p>
  <p>
  Well, it is a slippery slope and I loved those juices, so I went back and bought
  more, but then saw that there was lots more of wacky drinks that I had
  never seen before. I went nuts and dropped $50! Loving statistics, I
  thought that I should somehow document this.
  </p>
  <p>
  I originally thought I'd call this juice-o-rama, but then found there were tons of other
  types of drinks at Daiai. As a note, it is now called Don Quijote. I liked the
  older name better. I'll skip the two colas: Pepsi & Coke, its a rant & digression
  for another time. I don't drink coffee, so that will be missing and left as an
  exercise the the reader. Other then that, if it's containerized beveridge,
  I'll give it a whirl.
  </p>


  <h2>Notes from 2008</h2>

  <p>
  I decided to take some pictures because they were interesting and soon I had quite a number. To keep track of them all, I created a spreadsheet. It kept growing and I added more data fields (strictly research) and it just kind of kept growing. It evolved to a point that I decided it was time to place the results in a db and of course that would also require a set of screens to access them.
  </p><p>
  The word Libation has a nice ring to it. At first I called it my Juice database. After a while I was trying other drinks that were not really juices, so I started calling it Beverages. I had that for a while but then decided that a better word was available. An old friend wanted to open up a joint called Libations & Comestibles, using almost forgotten words. I always liked that Libation word so I ended up choosing that, and thats my story and I'm sticking to it.
  </p><p>
  Finding myself between contracts I decided to spend a bit of time & get the Libations Database online. I dumped them into a database last month and now am putting screens together so that they can be seen. I just finished a second cut of code to allow people to modify their user accounts. (yes, incredibly naive of me to assume that others might be interested in this arcane project) Currently only I can create them. As well, added links to the larger pix I have of the little-bigger-then-thumbnails that I show right now.
  </p><p>
  Next I will work on getting the add screens going because I have a little backlog of libations that I don't want to place in the spreadsheet, because, well, I don't want to. They belong to the db now.
  </p><p>
  Technical notes: I chose as a scale for many ratings 0-5, because I think (for myself) that I can reasonably rate drinks with that accuracy, where as ten different levels, I feel I would be guessing more then I am now! More tech details will be placed on web pages in the future, hopefully near. Using the LAMP stack. Doing small contracts in PHP so thought I would use that new knowledge there. I do want to write a Java app also, for comparison purposes only. Once both are up running, I'm interested to see how easy/difficult modifications are for each.
  </p>
  <p>See <%= link_to "help", help_path %> for data definitions.</p>
  <h2>Notes from 2017</h2>
  <p>
  After cobbling a prototype in Java in 2008, I left it alone as I started a Ruby/Rails contact in Hawaii in 2008. In 2009 I cobbled a Ruby/Rails app, but it was small and not more then just a listing with basic CRUD features. I had plans of placing it on the net with picture uploading etc, but those plans didn't fully materialize. Also, I now drink coffee, along with other stronger libations, so those will soon be added to. I have some catching up to do in that department.
  </p><p>
  Finding that most new software contracts requires a portfolio, it's time to write from scratch a nice shiny Rails 5 & Bootstrap 4 application and place it on the WWW. So, here we go.
  </p>
  Rob Richards<br>
  September 7th, 2017<br>
  </div>

</div>
