<div class="container-fluid">
  <h1>LibationDB Help</h1>
  <p>Help is on the way.</p>
  <p>
  At some point I plan on providing an api to the data. The following is the description of the data and allowed values.
  </p><p>
  List of the official LibationDB&trade; columns and description. The description will also highlight any data validation. For example, if we specify 0-5, then only those numbers will do. Sometimes you will get some data entry help, sometimes not.
  </p>

  <div class="container">
    <div class="row col-md-8">
      <h3>LibationDB&trade; Data</h3>
      <%= render "static_pages/data42" %>
    </div>
  </div>

  <p>This data will change slightly as I bring this appliaction to life.</p>

  Rob Richards<br>
  September 7th, 2017<br>
</div>
