<div class="container-fluid">
  <h1>Libations</h1>
  <p>A sampling of some libations.</p>

  <div class="row">
    <% @libations.each do |p| %>
      <div class="col-md-3">
        <a href="/libations/<%= p.id %>">
          <%= image_tag p.image.medium.to_s, class: "" %></br>
          <%= sanitize p.libation_name %>
        </a>
      </div>
    <% end %>
  </div>

</div> <!-- end of container -->
